{% extends 'base.html.twig' %}

{% block title %}Hello PartenairesController!{% endblock %}

{% block body %}
 <p>[Raison sociale du prestataire, forme juridique, montant de son capital social, 
 adresse de son siège social, numéro d’immatriculation au RCS et ville où se trouve le greffe qui tient le RCS où il est immatriculé]
Représenté par [prénom et nom du représentant du prestataire, 
nature de sa fonction et date à laquelle il a été habilité à signer pour le compte de la société qu’il représente, 
prénom, nom et fonction de la personne qui l’a habilité]
Ci-après désigné « le Prestataire »</p>

{% endblock %}
